<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.cdnfonts.com/css/curbstone" rel="stylesheet">
    <title>My Personal Portfolio</title>
    <script src="https://kit.fontawesome.com/77eaad2351.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="header">
        <div class="container">
            <nav>
                <img src="images/zod.png" class="logo">
                <ul id="side-menu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fas fa-times" onclick="close_menu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="open_menu()"></i>
            </nav>
            <div class="header-text">
                <h1>Hi, I'm <span>Mohamed</span></h1>
                <span class="text first-text">I'm a </span>
                <span class="text sec-text">Data Scientist</span>
            </div>
        </div>
    </div>

    <!-- ABOUT -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="./images/me9.png" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p class="who-am-i">I'm Mohamed Toumi, an IT enthausiast who's looking for good opportunities.</p>
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('experience')">Experience</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                        <p class="tab-links" onclick="opentab('books')">Books</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <% for (let i=0; i<skills.length; i++){%>
                                <li>
                                    <span><%= skills[i].span %></span>
                                    <% for (let j=0; j<skills[i].desc.length; j++){%>
                                        <p class="description"><%= skills[i].desc[j] %></p>
                                    <%}%>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <% for (let i=0; i<volunWork.length; i++){%>
                                <li>
                                    <span><%= volunWork[i].span %></span>
                                    <% for (let j=0; j<volunWork[i].desc.length; j++){%>
                                        <p class="description"><%= volunWork[i].desc[j] %></p>
                                    <%}%>
                                </li>
                            <%}%>
                            <li>
                                <span>Personal Projects</span>
                                <br><br>
                                <a class="proj" href="#portfolio">Check out my github or My Work section</a>
                            </li>
                            <li>
                                <span>Problem Solving</span>
                                <br><br>
                                <p class="ps"><i class="fa-solid fa-lightbulb"></i> Competitive Programming Competitions</p>
                                <br>
                                <p><i class="fa-solid fa-medal"></i> Ranked 61 in Tunisia in ieeextreme a competitive programming contest held by IEEE</p>
                                <br>
                                <p class="ps"><i class="fa-solid fa-brain"></i> Data Science Competitions</p>
                                <br>
                                <a class="ds" href="https://zindi.africa/users/ZeroDayOutplay">Zindi Profile</a>
                                <a class="ds" href="https://www.kaggle.com/zeroday0utplay">Kaggle Profile</a>
                                <br><br>
                                <p class="ps"><i class="fa-solid fa-hat-cowboy"></i> CTF Competitions</p>
                                <br>
                                <a class="ds" href="https://play.picoctf.org/users/ZedSter7">PicoCTF Profile</a>
                                <!-- <a class="ds" href="https://www.hackthebox.com/home/users/profile/509465">Hack The Box Profile</a> -->

                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li>
                                <span>Pre-Engineering degree</span>
                                <p class="description">Math/Physics</p>
                            </li>
                            <li>
                            <span>Online Certifications</span>
                                <% for (let i=0; i<certs.length; i++){%>
                                    <li>
                                        <p class="description"><%= certs[i].cert_name %></p>
                                        <a class="cred" href=<%= certs[i].cert_url %>>Show credentials <i class="fa-solid fa-paperclip"></i></a>
                                    </li>
                                <%}%>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-contents" id="books">
                        <ul>
                            <li>
                                <span>Technical Books</span>
                                <br><br>
                                <a class="book" href="https://cses.fi/book/book.pdf">Competitive Programmer’s Handbook <i class="fa-solid fa-book"></i></a>
                                <br><br>

                                <a class="book" href="https://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/understanding-machine-learning-theory-algorithms.pdf">Understanding Machine Learning From Theory to Algorithms <i class="fa-solid fa-book"></i></a>
                                <br><br>                             
                            </li>
                            <li>
                                <span>Non-Technical Books</span>
                                <br><br>
                                <a class="book" href="https://www.amazon.com/Sapiens-Humankind-Yuval-Noah-Harari/dp/0062316095">Homo Sapiens a brief history of humankind <i class="fa-solid fa-book"></i></a>
                                <br><br>

                                <a class="book" href="https://jamesclear.com/atomic-habits">Atomic Habits <i class="fa-solid fa-book"></i></a>
                                <br><br>
                            </li>
                        </ul>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- services -->

    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <% for (let i=0; i<services.length; i++){%>
                    <div>
                        <i class="<%= services[i].icon %>""></i>
                        <h2><%= services[i].name %></h2>
                        <p><%= services[i].desc %></p>
                        <a href="#services">learn more</a>
                    </div>
                <%}%>
            </div>
        </div>
    </div>

    <!-- Portfolio -->


    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <div class="work-list">
                <% for (let i=0; i<work.length; i++){%>
                    <div class="work">
                        <img src=<%= work[i].img_src %> alt="">
                        <div class="layer">
                            <h3><%= work[i].title %></h3>
                            <p><%= work[i].desc %></p>
                            <a href=<%= work[i].link %>><i class="fa-solid fa-up-right-from-square"></i></i></a>
                        </div>
                    </div>
                <%}%>
            </div>
                
            <a href="#portfolio" class="btn">See more</a>
        </div>
    </div>

    <!-- Contact -->

    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">
                        Contact Me
                    </h1>
                    <p> <i class="fa-sharp fa-solid fa-paper-plane"></i> <a class="mail" href="mailto: hama.tm662@gmail.com">hama.tm662@gmail.com</a> </p>
                    <p> <i class="fa-solid fa-square-phone"></i> +216 50 864 074</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/mouhamed.toumi.98837"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/mohamed-toumi-38061323b/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/ZeroDay0utplay"><i class="fa-brands fa-github"></i></a>
                    </div>
                    <a href="./images/CV.pdf" download class="btn btn2">Download CV</a>
                </div>
                <div class="contact-right">
                    <form name='contact-form' method="post" action="/contact">
                        <input id="name" type="text" name="Name" placeholder="Your name" required>
                        <input id="email" type="email" name="Email" placeholder="Your email" required>
                        <textarea id="message" name="Message" rows="6" placeholder="Your message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form> 
                    <span id="msg"></span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p> Created By <a class="copy" href="#">Mohamed Toumi</a> | <i class="fa-regular fa-copyright"></i> 2023 All rights reserved.</p>
        </div>
    </div>

    <script>
        const text = document.querySelector(".sec-text");

        const textLoad = () => {
            setTimeout(() => {
                text.textContent = "Data Scientist";
            }, 0);
            setTimeout(() => {
                text.textContent = "Software Developer";
            }, 4000);
            setTimeout(() => {
                text.textContent = "Student";
            }, 8000); //1s = 1000 milliseconds
        }

        textLoad();
        setInterval(textLoad, 12000);
    </script>

    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");
        function opentab(tabname){
            for (tablink of tablinks){
                tablink.classList.remove("active-link");
            }
            for (tabcontent of tabcontents){
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab")
        }
    </script>

    <script>
        var side_menu = document.getElementById("side-menu");

        function open_menu(){
            side_menu.style.right = "0";
        }

        function close_menu(){
            side_menu.style.right = "-200px";
        }

    </script>

    <script>
        const form = document.forms['contact-form'];
        const msg = document.getElementById("msg");
    
        form.addEventListener('submit', e => {
        e.preventDefault()
        req = {
            "Name": document.getElementById("name").value,
            "Email": document.getElementById("email").value,
            "Message": document.getElementById("message").value
        }
        fetch("/contact", { method: 'POST', headers: {"Content-Type": "application/json"}, body: JSON.stringify(req)})
            .then(response => {
                msg.innerHTML = "Message send successfully";
                setTimeout(()=>{
                    msg.innerHTML = "";
                }, 5000);
                form.reset();
            })
            .catch(error => console.error('Error!', error.message))
        })
    </script>

</body>
</html>